body {
  font-family: 'Poppins', sans-serif;
  background-color: #02051d; /* Dark blue background color */
  color: #514b4b; /* Light grey text color */
  margin: 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding: 10 10px; /* 좌우 여백 추가 */
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #05071e !important;
}

.navbar-custom {
  background-color: #02051d; /* Dark blue background color */
  transition: top 0.3s; /* Smooth transition for hiding and showing the navbar */
  font-size: 14px;
}

header {
  background-color: #02051d; /* Dark blue background color */
  color: white;
  text-align: left;
  padding: 1em 0;
}

main {
  margin: 0em;
}

.wrapper {
  background-color: #f9fafa; /* Background color for the margin area */
  color: #817a7a; /* Light grey text color */
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  padding: 10px;
  max-width: 1500px; /* Maximum width for the content */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 50px;
}

.content {
  text-align: center;
  background-color: #f9fafa; /* Background color for the margin area */
  color: #d40496; /* Light grey text color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  margin-top: 50px;
  margin: 50px;
  padding: 50px;
}

.word-container p {
  margin: 5px 0;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.buttons-container button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: #02051d; /* Dark blue background color */
  color: #f8f8f8;
  flex: 1 1 calc(33% - 10px); /* 3개씩 정렬되도록 설정 */
  box-sizing: border-box; /* 패딩과 보더가 전체 크기에 포함되도록 */
  max-width: calc(33% - 10px); /* 최대 너비 설정 */
}

.buttons-container button:hover {
  background-color: #0056b3;
}

ul#example-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul#example-list li {
  margin: 20px 0; /* 문장 사이의 간격 추가 */
  color: #3e3a3a; /* Light grey text color */
  text-align: left;
}

/* 단어 목록 스타일 */
#words-list {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;
}

/* 기존 스타일 유지 */
#word-english {
  color: rgb(2, 38, 218);
  font-weight: bold;
}

#word-pronunciation {
  color: rgb(4, 39, 214);
}

/* 기존 CSS */
h1 {
  font-size: 1.5em; /* 필요한 크기로 설정 */
  color: green;   /* 글자 색상 설정 */
}

h2 {
  font-size: 1.5em; /* 필요한 크기로 설정 */
  color: green;     /* 글자 색상 설정 */
}

/* Responsive design */
@media (max-width: 768px) {
  body {
      font-size: 18px; /* Smaller font size for mobile */
      margin-top: 60px; /* Adjust top margin for mobile */
  }

  .buttons-container button {
      flex: 1 1 calc(50% - 10px); /* Adjust button size for smaller screens */
      max-width: calc(50% - 10px); /* Adjust max width for smaller screens */
  }

  .word-container {
      font-size: 20px; /* Adjust font size for smaller screens */
      margin-top: 20px; /* Adjust top margin for mobile */
  }

  .content {
      font-size: 18px;
      padding: 15px; /* Adjust padding for smaller screens */
      margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .buttons-container button {
      flex: 1 1 100%; /* Adjust button size for very small screens */
      max-width: 100%;
  }

  .word-container {
      font-size: 18px; /* Adjust font size for very small screens */
      margin-top: 20px; /* Adjust top margin for mobile */
  }

  .content {
      font-size: 18px;
      padding: 10px; /* Adjust padding for very small screens */
      margin-top: 20px; /* Adjust top margin for mobile */
      margin-top: 100px;
  }
}
