/* 기본적인 여백 */
body {
    margin: 40px; /* 전체 body에 40px의 여백을 추가 */
    background-color: #4262a7; /* Black background color */
    line-height: 1.4;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: #ffffff; /* Text color to white */
    p {
        margin-bottom: 10px; /* 문단 간의 간격 조절 */
    }
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; /* Text color to white */
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Reduced space between boxes */
    width: 80%;
    margin: 0 auto;
}

.box {
    background-color: #13173a; /* Black background color */
    color: #ffffff; /* Text color to white */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #ffffff; /* White border */
    border-radius: 10px; /* Add border radius */
    text-align: center;
    margin-top: 5px;
    height: 50pt;
}


.image_container img {
    margin-top: 10px;
    width: 15rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_container img {
    margin-top: 10px;
    height: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make the image a block-level element */
    margin-left: auto;
    margin-right: auto;
}

.content {
    grid-column: span 3;
    margin-top: 10px;
    height: auto; /* Maintain aspect ratio */
    text-align: center;
    padding: 0 20px; /* Center the image horizontally */
    color: #ffffff; /* Text color to white */
}




/* Mobile adjustments */
@media only screen and (max-width: 600px) {
    body {
        margin: 20px;
        font-size: 0.8rem;
    }

    .container {
        grid-template-columns: repeat(2, 1fr); /* Two column layout for mobile */
        width: 100%;
        gap: 5px;
    }

    .box {
        height: 50px;
        font-size: 0.8rem;
        margin: 0 0 5px 0;
    }

    .image_container img {
        width: 100%;
        margin-right: 20px;
    }

    .content {
        grid-column: span 2;
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
        text-align: center;
    }
}

a {
    color: #ffffff;
    text-decoration: underline;
}
