body {
  font-family: 'Poppins', sans-serif;
  margin-top: 70px;
  font-size: 14px;
}
.quiz-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}
.rules-section {
  padding-left: 20px;
}
.divider {
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}
#result {
  margin-top: 20px;
}
