body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f3f5; /* Dark blue background color */
  color: #f2f2f5; /* Dark text color */
  font-size: 14px;
  margin: 0 auto; /* 양쪽 여백 제거 */
}



.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #05071e !important;
}

.navbar-custom {
  background-color: #02051d; /* Dark blue background color */
  transition: top 0.3s; /* Smooth transition for hiding and showing the navbar */
  font-size: 14px;
}

h1, h2 {
  text-align: center;
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto 20px;
}

form input, form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.guestbook-container {
  margin-top: 50px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #f0f3f5; /* Dark blue background color */
}

#write-post-button {
  display: block;
  margin-left: auto;
  margin-right: 0;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 14px;
  justify-content: center;
}

#write-post-container {
  max-width: 1400px;
  background-color: #f0f3f5; /* Dark blue background color */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#write-post-container input,
#write-post-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
}

#write-post-container button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f0f3f5; /* Dark blue background color */
}

th.title {
  width: 30%;
  text-align: center;
}

th.number, th.author, th.date, th.views {
  font-size: 12px;
}

th.actions {
  width: 20%;
}


.btn-danger {
  background-color: #d9534f; /* Delete 버튼의 배경 색상 */
  border: none; /* 버튼의 테두리 제거 */
  color: white; /* 버튼 텍스트 색상 */
  padding: 6px 12px; /* 버튼 패딩 */
  text-align: center; /* 텍스트 정렬 */
  text-decoration: none; /* 텍스트 밑줄 제거 */
  display: inline-block; /* 인라인 블록 요소로 설정 */
  font-size: 12px; /* 폰트 크기 */
  margin: 2px; /* 버튼 간격 */
  cursor: pointer; /* 커서 모양 변경 */
  border-radius: 4px; /* 둥근 테두리 */
}

.btn-warning {
  background-color: #f0ad4e; /* Edit 버튼의 배경 색상 */
  border: none; /* 버튼의 테두리 제거 */
  color: white; /* 버튼 텍스트 색상 */
  padding: 6px 12px; /* 버튼 패딩 */
  text-align: center; /* 텍스트 정렬 */
  text-decoration: none; /* 텍스트 밑줄 제거 */
  display: inline-block; /* 인라인 블록 요소로 설정 */
  font-size: 12px; /* 폰트 크기 */
  margin: 2px; /* 버튼 간격 */
  cursor: pointer; /* 커서 모양 변경 */
  border-radius: 4px; /* 둥근 테두리 */
}

.btn-danger2 {
  background-color: #858c92; /* Admin 버튼의 배경 색상 */
  border: none; /* 버튼의 테두리 제거 */
  color: white; /* 버튼 텍스트 색상 */
  padding: 6px 12px; /* 버튼 패딩 */
  text-align: center; /* 텍스트 정렬 */
  text-decoration: none; /* 텍스트 밑줄 제거 */
  display: inline-block; /* 인라인 블록 요소로 설정 */
  font-size: 12px; /* 폰트 크기 */
  margin: 2px; /* 버튼 간격 */
  cursor: pointer; /* 커서 모양 변경 */
  border-radius: 4px; /* 둥근 테두리 */
  display: none;
}

#edit-message {
  height: 200px !important; /* Adjust this value to set the desired height */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff; /* Background color */
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

/* Mobile styles */
@media (max-width: 767px) {
  form {
    max-width: 90%;
    padding: 0; /* Padding 제거 */
    margin: 0 auto; /* 양쪽 여백 제거 */
  }

  form input,
  form textarea {
    padding: 5px; /* 패딩 최소화 */
    margin: 5px 0; /* 세로 여백 최소화 */
  }

  form button {
    padding: 8px 10px; /* 버튼 패딩 최소화 */
    margin: 5px 0; /* 세로 여백 최소화 */
  }

  .guestbook-container {
    max-width: 95%;
    padding: 5px;
    margin: 0 auto;
  }


  #write-post-container, .guestbook-container {
    max-width: 90%;
  }

  table, th, td {
    font-size: 10px;
    padding: 5px;
  }

  th.title {
    width: 40%;
    align-items: center;
  }

  th.actions {
    width: 30%;
  }

  .btn-danger, .btn-warning, .btn-danger2 {
    padding: 4px 8px;
    font-size: 10px;
    margin: 1px;
  }

 #write-post-button {
    width: 80px;
    height: 25px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px; /* 버튼의 높이에 맞게 line-height를 설정하세요 */
  }

  .sliders-container,
  .btn-danger2 {
    display: none;
  }

}
