body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #05071e !important;
  color: white;
  font-size: 20px;
}


.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #05071e !important;
}

.navbar-custom {
  background-color: #02051d; /* Dark blue background color */
  transition: top 0.3s; /* Smooth transition for hiding and showing the navbar */
  font-size: 14px;
}


header {
  background-color: #02051d; /* Dark blue background color */
  color: white;
  text-align: left;
  padding: 1em 0;
}


h1, h2, h3 {
  color: #2c3e50;
}
a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.section {
  margin-bottom: 30px;
}
/* 모바일 친화적인 디자인을 위한 스타일 */
@media (max-width: 600px) {
  body {
      margin: 10px;
      line-height: 1.4;
  }
  h1 {
      font-size: 1.5em;
  }
  h2 {
      font-size: 1.2em;
  }
  h3 {
      font-size: 1em;
  }
  p {
      font-size: 0.7em;
  }
  .section {
      margin-bottom: 20px;
  }
}
