body {
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
}

header {
    text-align: center;
    margin: 20px 0;
}

.h2, h2 {
    font-size: 24px;
}

main {
    width: 80%;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

#loading {
    text-align: center;
}

#results {
    margin-top: 20px;
}

#chatgpt-response {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}


#results h3 {
    margin-top: 20px;
}

#websiteInfo {
    text-align: left;
    margin-top: 20px;
}

#websiteInfo ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 5px; /* Reduce the bottom margin */
}

#chatTerminal {
    margin-top: 0px !important; /* Ensure the top margin is removed */
    padding-top: 0px !important; /* Ensure the top padding is removed */
}

#chatMessages {
    text-align: left; /* Align text to the left */
}

.message {
    display: block;
    margin: 5px 0;
}

.user-message {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

.assistant-message {
    color: green;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

