body {
    margin: 30px;
    padding: 10px;
    background-color: #f8f5f5; /* Light grey text */
    line-height: 1.4;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: #535252; /* Light grey text */
    height: calc(100vh - 60px); /* Adjust height considering margins and paddings */
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Ensure padding and border are included in the height calculation */
}

.page-title {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#chatTerminal {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #fcfbfb;
    border-radius: 4px;
    background-color: rgb(8, 6, 22);
    color: rgb(26, 20, 20);
    overflow: hidden;
    border-radius: 10px;
}

#chatMessages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color:rgb(245, 245, 247);
    color: rgb(170, 169, 169); 
    border-bottom: 1px solid #f8f6f6;
}

#messageContainer {
    display: flex;
    padding: 10px;
    background-color:rgb(251, 251, 253);
    border-top: 1px solid #ccc;
}

#inputMessage {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:rgb(228, 228, 231); 
    color: rgb(245, 241, 241); 
}

#submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #8badd1;
    color: white;
    margin-left: 10px;
}

.user-message {
    margin-bottom: 10px;
    margin-top: 5px;
}

.ai-message {
    margin-bottom: 10px;
    margin-top: 5px;
}

@media (max-width: 600px) {
    body {
        margin: 10px;
        padding: 5px;
    }

    .page-title {
        font-size: 20px;
    }

    button {
        font-size: 0.8rem;
        padding: 4px 8px;
        width: auto;
        margin-bottom: 5px;
    }

    #chatMessages {
        height: 50vh;
    }

    #chatTerminal {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 60px);
    }

    #inputMessage {
        height: auto;
    }
}

