body {
  margin: 0;
  padding: 10px;
  background-color: #f8f5f5; /* Light grey background */
  line-height: 1.4;
  font-family: sans-serif;
  color: #535252; /* Light grey text */
  height: 100vh; /* Adjust height considering margins and paddings */
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Ensure padding and border are included in the height calculation */
  
}


.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #05071e !important;
}

.navbar-custom {
  background-color: #02051d; /* Dark blue background color */
  transition: top 0.3s; /* Smooth transition for hiding and showing the navbar */
  font-size: 14px;
}


header {
  background-color: #02051d; /* Dark blue background color */
  color: white;
  text-align: left;
  padding: 1em 0;
}

.container {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.buttons {
  display: flex;
  justify-content: space-between; /* Adjusted for even spacing */
  margin-bottom: 20px;
  width: 100%; /* Ensure the buttons container takes full width */
}

button {
  flex: 0 0 auto;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: transparent; /* Make background transparent */
  color: black; /* Ensure text color is black */
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}


.table-container {
  width: 100%;
  flex: 1;
  /* Removed overflow-y */
}


table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* 고정된 테이블 레이아웃 */
  background-color: #faf4b5;
}

thead th, tbody td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

thead th:nth-child(1), tbody td:nth-child(1) {
  width: 90%; /* Contents 열의 너비 */
}

thead th:nth-child(2), tbody td:nth-child(2) {
  width: 10%; /* Action 열의 너비 */
}

tbody td.text-left {
  text-align: left;
}

.delete-btn {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.delete-btn:hover {
  background-color: darkgreen;
}



/* 시계위치 =========================================================*/
.filter-container-wrapper {
  position: fixed;
  bottom: 20px;
  right: 60px; /* Position at the bottom right corner */
  display: flex;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-container label {
  margin-right: 10px;
  font-size: 0.8rem;
}

.filter-container select {
  width: 100px;
  height: 30px;
  margin-right: 20px;
  font-size: 0.8rem;
  padding: 5px;
  box-sizing: border-box;
  align-items: center;
}

#selectedTime {
  width: 100px;
  height: 30px;
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

/* 메모======================================================== */
#downloadLinkContainer {
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  text-align: left;
}

.download-link-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start; /* Align children to the start */
  bottom: 20px;
  left: 0; /* Position at the bottom right corner */
}

#downloadLinkContainer a:hover {
  text-decoration: underline;
}

#downloadLinkContainer a {
  display: block;
  margin-bottom: 5px;
  color: blue;
  text-decoration: none;
}

#downloadLinkContainer a:hover {
  text-decoration: underline;
}

.delete-link-btn {
  cursor: pointer;
  color: red;
  margin-left: 10px;
}

.delete-link-btn:hover {
  text-decoration: underline;
}

/* Add spacing between each link-delete pair */
.download-link-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add space between each link and delete button */

}


.navbar .btn {
  font-size: 16px; /* Default font size for buttons */
  padding: 10px 20px; /* Default padding for buttons */
  background-color: white; /* Background color for buttons */
  color: rgb(4, 4, 252); /* Text color for buttons */
  border: 1px solid blue; /* Border color for buttons */
  border-radius: 5px; /* Rounded corners for buttons */
}

.navbar .btn i {
  margin-right: 5px; /* Optional: add some space between the icon and text */
}

@media (max-width: 600px) {
  .navbar .btn {
    font-size: 10px; /* Default font size for buttons */
    padding: 10px 10px; /* Default padding for buttons */
    background-color: white; /* Background color for buttons */
    color: blue; /* Text color for buttons */
    border: 1px solid blue; /* Border color for buttons */
    border-radius: 5px; /* Rounded corners for buttons */
    align-items: center;
    justify-content: center;
}


  .container {
      padding: 10px;
      width: 100%;
      height: 100%;
      max-height: none;
  }

  .buttons {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }

  button {
      margin-bottom: 10px;
      padding: 1px 5px;
      font-size: 8px;
      flex: 1 1 5%;
      box-sizing: border-box; /* 패딩과 보더를 포함한 크기 계산 */
  }

  table, th, td {
    margin-top: 10px;
    font-size: 12px;
  }

  .filter-container-wrapper {
      display: none;
  }


  .filter-container-wrapper {
      display: none;
  }
}
