/* 기본적인 여백 */
body {
    margin: 20px;
    margin-top: 100px; /* Adjust the value to move content down */
    background-color: #fff; /* Light grey text */
    line-height: 1.4;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: rgb(0, 0, 10);
    p {
        margin-bottom: 10px; /* 문단 간의 간격 조절 */
    }
}

.page-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.highlight{
    padding: 5px;
    font-size: 1.2rem;
}


.centered-text {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1; 
    text-align: center;
}


.btn, .btn-primary, .btn-sm {
    background: none;
    border: none;
    color: #007bff; /* Link color */
    font-size: 1rem; /* Adjust font size */
    padding: 0; /* Remove padding */
    margin: 5px; /* Adjust margin */
    text-decoration: underline; /* Underline to look like a link */
    cursor: pointer;
}

.btn:hover {
    color: #0056b3; /* Darker color on hover */
    text-decoration: none; /* Remove underline on hover */
}

.controls-container {
    
    font-size: 1.2rem; /* 텍스트 크기 설정 */
    color: rgb(74, 74, 75); /* Adjust the color as desired */
    font-weight: bold; /* Adjust the font weight as desired */
    font-size: 0.8rem; /* 텍스트 크기 설정 */
}

#inputWord {
    margin-top: 10px;
    font-size: 1rem; /* 텍스트 크기 설정 */
    width: 100%; /* You can set this to a percentage or a fixed value */
    height:10%;
    max-width: 150px; 
}


.inputWord::placeholder{
    font-weight: bold;
    color: rgb(74, 74, 75); /* Adjust the color as desired */
    font-size: 0.8rem; /* 텍스트 크기 설정 */
    width: 100%;}


/* Add spacing between elements */
#inputForm {
    margin-top: 1rem;
    color: rgb(74, 74, 75); /* Adjust the color as desired */
    text-decoration: none; /* 밑줄 없앰 */
    font-size: 0.8rem; /* 텍스트 크기 설정 */

}

#inputForm label {
    margin-bottom: 10px; /* Add bottom margin to label */
    display: block; /* Make label a block element to occupy full width */
}

#inputForm input {
    margin-bottom: 10px; /* Add bottom margin to input field */
}

#inputForm button {
    margin-right: 10px; /* Add right margin to buttons */
}

#outputArea {
    margin: 10px auto; /* Center horizontally with top and bottom margins */
    width: 90%; /* Default width */
    max-width: 800px; /* Maximum width */
    height: 100vh; /* Set height to 70% of the viewport height */
    padding: 10px;
    border: 1px solid #535050;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 2; /* Adjust the line height to add space between lines */
    font-size: 0.9rem; /* Set font size */
    background-color: #eaeaea; /* Set background color for better visibility */
    text-align: left;
}


/* 시계위치 */
.filter-container-wrapper {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-container label {
    margin-right: 10px;
    font-size: 0.8rem;
}

.filter-container select {
    width: 100px;
    margin-right: 20px;
    font-size: 0.8rem;
}

#selectedTime {
    font-size: 0.8rem;
    padding: 7px 10px;
    border: 1px solid black;
    background-color: white;
    display: inline-block;
}


 /* Custom CSS for hover effect */
#wordList li:hover {
    background-color: lightgray; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 0.8rem;
}




#text-to-speech {
    display: flex;
    align-items: center;
}

#text-to-speech img {
    margin-right: 0px;
}


#text-to-speech h3 {
    margin-top:2px;
    left :0px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    color: rgb(6, 6, 43); /* Set the heading color to blue */
}


/* 스피너 스타일링 */
#spinner {
    display: none; /* 일단은 숨김 */
}


.keyword-list-horizontal {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    font-size: 12px;
}

.keyword-list-horizontal li {
    margin: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
    body {
        margin-top: 60px; /* Ensure consistent margin for large screens */
    }

    #outputArea {
        width: 90%; /* Adjust width for large screens */
        height: 90vh; /* Reduce height for large screens */
        font-size: 1rem; /* Slightly smaller font size */
    }
}

@media (max-width: 992px) {
    body {
        margin-top: 60px; /* Ensure consistent margin for medium screens */
    }

    #outputArea {
        width: 80%; /* Adjust width for medium screens */
        height: 90vh; /* Reduce height for medium screens */
        font-size: 0.8rem; /* Slightly smaller font size */
    }
}

@media (max-width: 768px) {
    body {
        margin-top: 60px; /* Ensure consistent margin for tablets */
    }

    #outputArea {
        width: 70%; /* Adjust width for tablets */
        height: 90vh; /* Further reduce height for tablets */
        font-size: 0.75rem; /* Slightly smaller font size */
    }
}

/* 미디어 쿼리 추가: 모바일 최적화 */
@media (max-width: 600px) {
    body {
        margin: 10px;
        margin-top: 60px; /* Ensure consistent margin for small screens */
        font-size: 0.9rem;
    }

    .page-title {
        margin-top: 20px;
        font-size: 1.3rem;
    }

    .btn, .btn-primary, .btn-sm {
        font-size: 0.9rem;
        width: 80px;
        height: 20px;
    }

    #inputForm {
        font-size: 0.7rem;
    }

    #outputArea {
        width: 100%; /* Full width for small screens */
        margin-top: 10px;
        height: 90vh; /* Reduce height for small screens */
        font-size: 0.85rem; /* Smaller font size */
        padding: 10px; /* Adjust padding for small screens */
    }

    .filter-container-wrapper {
        position: static;
        margin-top: 10px;
        right: auto;
    }

    #wordStatistics h2, #wordStatistics example, #text-to-speech h3 {
        font-size: 0.6rem;
    }


       /* 특정 요소 숨기기 */
    .sliders-container,
    #rateSlider,
    #volumeSlider,
    #selectedTime,
    #text-to-speech,
    #engUkButton,
    #wordList,
    #wordStatistics,
    #cityFilter {
        display: none;
    }
}

