body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 0.8em;
  width: 1000px; /* 버튼과 구분되는 너비 설정 */
  height: 60px; /* 높이 설정 */
  border-width: 2px;
  border-style: solid;
  border-color: rgb(120, 119, 119);
  box-sizing: border-box; /* 패딩과 보더를 포함한 높이/너비 설정 */
}

#fortuneOutput {
  margin-top: 20px;
  font-size: 1.1em;
  color: #544e4e;
  text-align: left;
  width: 100%;
  max-width: 1000px;
}

h1 {
  font-size: 2rem;
}

.spinner-border {
  width: 3rem; /* Adjust width as desired */
  height: 3rem; /* Adjust height as desired */
  margin: 1em auto;
  color: #FF5733; /* Adjust color as desired */
  text-align: left; /* Ensures text alignment to the left */
}

#buttonsContainer {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  gap: 10px; /* 버튼 사이의 간격 */
}

#readButton {
  background-color: #28a745;
  color: white;
  font-size: 1rem;
}

#stopButton {
  background-color: #dc3545;
  color: white;
  font-size: 1rem;
}


#fortuneContainer {
  display: flex;
  flex-direction: column; /* 기본적으로 컨테이너 내부를 세로 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  gap: 10px; /* 요소 간 간격 */
}

#buttonsContainer {
  display: flex; /* 플렉스 컨테이너로 설정하여 내부 요소를 수평으로 정렬 */
  justify-content: center; /* 버튼을 수평 중앙에 배치 */
}

#readButton {
  background-color: #28a745;
  color: white;
  display: none; /* 기본적으로 숨김 */
}

#stopButton {
  background-color: #dc3545;
  color: white;
  display: none; /* 기본적으로 숨김 */
}
