body {
  font-family: 'Poppins', sans-serif;
  margin-top: 70px;
  font-size: 14px;
}

#websiteInfo {
  padding-left: 20px; /* Add padding here */
}

h1 {
  font-size: 1.5em; /* Adjust as needed */
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em; /* Adjust as needed */
}

h3 {
  font-size: 1.5em; /* Adjust as needed */
}

#shortTextSection, #translationSection {
  margin-top: 20px;
}

#wordList {
  margin-top: 20px;
  font-size: 12px;
}

button.loading {
  position: relative;
  pointer-events: none;
  opacity: 0.7; /* Slight transparency to indicate loading */
}

button.loading .spinner-border {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-width: 0.15em;
  top: 50%;
  left: 50%;
}

/* Adjust font size of suggested topics heading */
#wordList h2 {
  font-size: 1.2em; /* Adjust as needed */
}

/* Adjust font size of the topic buttons */
#wordsContainer button {
  font-size: 1.2em; /* Adjust as needed */
}

@media (max-width: 768px) {
  body {
      font-size: 14px;
  }

  h1 {
      font-size: 1.2em; /* Adjust as needed for smaller screens */
  }

  h2 {
      font-size: 1.2em; /* Adjust as needed for smaller screens */
  }

  h3 {
      font-size: 1.2em; /* Adjust as needed for smaller screens */
  }

  #wordList {
      font-size: 1.1em; /* Adjust as needed */
  }

  .spinner-border {
      width: 1rem;
      height: 1rem;
  }

  /* Adjust font size of suggested topics heading for smaller screens */
  #wordList h2 {
    font-size: 1em; /* Adjust as needed for smaller screens */
  }

  /* Adjust font size of the topic buttons for smaller screens */
  #wordsContainer button {
    font-size: 1.1em; /* Adjust as needed for smaller screens */
  }
}
