body {
  font-family: 'Poppins', sans-serif;
  font-size : 14px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.synonyms-container {
  text-align: center;
}

#jobList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the start */
  gap: 5px; /* Space between buttons */
}

#jobList button {
  padding: 5px 10px; /* Adjust padding for smaller buttons */
  font-size: 14px; /* Adjust font size */
  width: auto; /* Allow buttons to auto-size */
  flex: 0 0 auto; /* Prevent flexbox from resizing the buttons */
  text-align: center; /* Center text */
}

#synonymsContent {
  height: 300px; /* 고정된 높이로 설정 */
  overflow-y: auto;
  border: 1px solid rgb(216, 214, 214); /* 테두리 색을 회색으로 설정 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  padding: 10px; /* 텍스트와 테두리 사이에 여백 추가 */
}


#chatResponse {
  height: 200px; /* 고정된 높이로 설정 */
  overflow-y: auto;
  margin-top: 10px; /* Add some margin at the top */
  background-color: #f9f9f9; /* 바탕색 지정 */
  border: 1px solid #454040; /* Border similar to .bordered */
  padding: 10px; /* Padding for better readability */
  border-radius: 5px; /* Optional: To match the .bordered style */
}

#chatInput {
  border: 1px solid #454040; /* Border similar to .bordered */
  background-color: #f9f9f9; /* Background color */
}

/* 스크롤바 스타일 추가 */
#chatResponse::-webkit-scrollbar {
  width: 12px;
}

#chatResponse::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#chatResponse::-webkit-scrollbar-thumb {
  background: #888;
}

#chatResponse::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bordered {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.spinner-border {
  display: none; /* Hidden by default */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000; /* Ensure it is above other content */
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size : 18px;
  align-items: left;
}


/* Dashed line styling */
hr.dashed-line {
  border: none;
  border-top: 2px dashed #0303f8; /* Change color and style as needed */
  margin: 20px 0; /* Adjust margin to create space around the line */
}
