body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding-top: 2px; /* Adjusted for navbar height */
}

.quiz-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* Centering the container */
  margin-top: 5px; /* Margin top adjustment */
}

h1 {
  font-size: 24px;
  color: #06053c;
  margin-bottom: 10px; /* Reduce space below the heading */
}

#result {
  margin-top: 10px; /* Reduce margin top */
  color: #2e2ca1;
}

#answerInput {
  height: 70px; /* Adjusted input field height */
  font-size: 24px; /* Adjusted input field text size */
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

#hints {
  margin-top: 10px; /* Reduced space below the hints block */
  color: #2e2ca1;
}

.faq h4 {
  margin-top: 15px;
}
/* 폰트 크기 및 간격 조정 */
.rules-section {
  font-size: 0.6em; /* 글자 크기 조정 */
  line-height: 1.2; /* 라인 간격 조정 */
}
.rules-section ul {
  padding-left: 20px; /* 리스트 인덴
  트 조정 */
  font-size: 0.6em; /* 글자 크기 조정 */
}
.rules-section li {
  margin-bottom: 10px; /* 리스트 항목 간 간격 조정 */
  font-size: 0.6em; /* 글자 크기 조정 */
}
.spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Mobile-friendly adjustments */
@media (max-width: 600px) {
  .quiz-container {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .button-group button {
    padding: 4px 5px; /* Reduce button padding */
    font-size: 12px; /* Reduce button text size */
    margin: 5px; /* Adjust button margin */
  }

  #answerInput {
    height: 70px; /* Adjust input field height for mobile */
    font-size: 16px; /* Adjust input field text size for mobile */
  }
}

/* General button adjustments for all screen sizes */
.button-group button {
  padding: 6px 10px; /* Adjust button padding */
  font-size: 14px; /* Adjust button text size */
  margin: 0px; /* Adjust button margin */
}
